= raw "Новая заявка от <i>#{@email}</i> :"

%div
	%b ФИО:
	= @name
%div
	%b Планируете заезд: 
	с
	= "#{@from}"
	по
	= "#{@to}"
%div
	%b Количество бронируемых мест:
	= @places
%div
	%b Тел.:
	= @phone