= title @h1

#videos
	- @videos.each do |video|
		.video-item
			.picture
				= link_to video.link, class: 'box-media' do
					.overlay 
						%i.icons-big.play
						Воспроизвести
					.duration= video.get_duration
					= image_tag video.draw
			.info-block
				.title= video.title
				.description= video.description

		.clr-fx

= paginate @videos