= title @h1

#videos
	- @videos.each do |video|
		.video-item
			.picture= image_tag "http://i1.ytimg.com/vi/#{video.path}/mqdefault.jpg"
			.info-block
				.title= video.title
				.description= video.description