/ Новости
= news_module

/ Вопросы
.metro-block.red
	%div.image-part= image_tag 'map.png'
	%div.info-part
		%strong Не знаете как доехать?
		Подробная карта проезда в разделе
		= link_to '"Контакты"', page_path(Page.find(2))

/ Вопросы
.metro-block.red
	%div.info-part
		= link_to bookings_path do
			Оставить онлайн заявку на бронирование номера

/ Погода
= weather_module