/ Бронирование
.metro-block.red
	%div.image-part= image_tag 'booking.png'
	%div.info-part
		%strong Бронирование
		= link_to bookings_path do
			Оставить онлайн заявку на бронирование номера

.well
	%ul.nav.nav-list
		%li.nav-header Информация о бронировании
		%li
			Общее количество заявок
			%span.badge.pull-right{ng: {controller: 'BookingCtrl'}} {{booking_count[0]}}

/ Новости
= news_module

/ Вопросы
.metro-block.red
	%div.image-part= image_tag 'map.png'
	%div.info-part
		%strong Не знаете как доехать?
		Подробная карта проезда в разделе
		= link_to '"Контакты"', page_path(Page.find(2))

/ Погода
= weather_module