.mt70
	#slides
		= image_tag 'template/slider_image.jpg'
		= image_tag 'template/slider_image2.jpg'
		= image_tag 'template/slider_image3.jpg'
		= image_tag 'template/slider_image4.jpg'
		= image_tag 'template/slider_image5.jpg'