= title @category.title

-@news.each do |n|
	= link_to(category_news_news_path(n.category, n)) do
		%h2
			%small= Russian::strftime(n.created_at, "%d %b %Y")
			= n.title
	%div= raw n.precontent

= paginate @news