= title "Бронирование номера"

:javascript
	$(document).ready(function(){
		var today = new Date();
	  var max_date = new Date();
	  max_date.setDate(today.getDate()+#{@book_days_num});

	  $('#booking_from').pickadate({
	    today: '',
	    clear: '',
	    min: true,
	    max: max_date
	  });

	  $('#booking_to').pickadate({
	    today: '',
	    clear: '',
	    min: true,
	    max: max_date
	  });
	});

.well
	%h2{class: "text-center"} Заявка на бронирование номера
	= form_for @book, html: { class: "form-horizontal" }, remote: true do |f|

		.control-group
			%label Для получения счета на предоплату за проживание на базе отдыха «Озерки» просим заполнить следующую форму:

		.control-group
			.controls
				%ul#form-errors.text-error
				%ul#form-notices.text-info

		.control-group
			= f.label :name, class: :'control-label'
			.controls= f.text_field :name, class: :span5
		
		.control-group
			= f.label :email, class: :'control-label'
			.controls= f.text_field :email, class: :span5

		.control-group
			= f.label :phone, class: :'control-label'
			.controls= f.text_field :phone, class: :span5, data: { mask: :phone }

		.control-group
			= f.label :places, class: :'control-label'
			.controls= f.text_field :places, class: :span5

		.control-group
			= f.label :rooms, class: :'control-label'
			.controls= f.text_field :rooms, class: :span5

		.control-group
			= f.label :from, class: :'control-label'
			.controls
				= text_field_tag :from, nil, class: :span5, data: { datepicker: :datepicker }, id: :booking_from
 
		.control-group
			= f.label :to, class: :'control-label'
			.controls
				= text_field_tag :to, nil, class: :span5, data: { datepicker: :datepicker }, id: :booking_to

		.control-group
			.controls= f.submit "Бронировать", class: "button"

/ %div{ng: {controller: 'BookingCtrl'}}
/ 	Количество заявок: {{booking_count[0][0]}}