= title "Главная страница"

- cache "main_page_cache" do
	.span7.none.w724
		- @news.each do |article|
			= render 'shared/partials/root_new', article: article
.span3.rml20-max979
	= render 'shared/sidebar'
.clr-fx

- cache "map_cache", expires_in: 12.hours do
	= map_model

- cache "gallery_on_main_cache", expires_in: 12.hours do
	.well= gallery_module