!!!
%html
  %head
    %title
      = yield :title
      = Configure.first[:title_separator]
      = Configure.first[:site_title]
    = favicon_link_tag
    %meta{name: "description", content: "#{@meta_description}"}
    %meta{name: "keywords", content: "#{@meta_keywords}"}
    - if @meta_author
      %meta{name: "Author", content: "#{@meta_author}"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span11
          = image_tag 'template/logo.png', class: 'mt40'

          - cache "slider_cache" do
            = render 'shared/slider'

          = render 'shared/menu'

          - cache "infoline_cache" do
            = infoline_module

          - unless !@h1
            %h1=@h1
          = render_breadcrumbs
          .span7.none.w724= yield
          .span3.rml20-max979= render 'shared/sidebar'

    - cache "footer_cache" do
      = render 'shared/footer'